<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tests" parallel="classes" thread-count="3">
    <test name="ChromeTests">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="true"/> <!-- Headless Mode -->
        <classes>
            <class name="runner.LoginTestRunner" />
            <class name="runner.ProductTestRunner" />
        </classes>
    </test>

    <test name="FirefoxTests">
        <parameter name="browser" value="firefox"/>
        <parameter name="headless" value="false"/> <!-- Non-Headless Mode -->
        <classes>
            <class name="runner.LoginTestRunner" />
        </classes>
    </test>

    <test name="EdgeTests">
        <parameter name="browser" value="edge"/>
        <parameter name="headless" value="true"/> <!-- Headless Mode -->
        <classes>
            <class name="runner.ProductTestRunner" />
        </classes>
    </test>
</suite>
